body {
  font-size: 15px;
  padding: 20px;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.player {
  position: absolute;
  width: 20px;
  height: 20px;
  background: blue;
  color: white;
  text-align: center;
  font-weight: bold;
}
